<!--Input a todo task-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Styling-->
        <link rel='stylesheet' href='/static/bootstrap.min.css'>
        <link rel='stylesheet' href='/static/styles.css'>
        <meta charset="UTF-8">
        <title>Guessing Game!</title>
    </head>
    <body>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/"><img class="logo" src="/static/movie_reel.png" alt="logo"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guess_game">game</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Main todo functions-->
        <form method="post">
            <label for="title">Your Quote is...</label>
            <br />
            <input type="text" id="title" name="title">
            <br />
            <br />
            <label for="usr_guess">Enter Guess:</label>
            <br />
            <input type="text" id="usr_guess" name="Enter Guess">
            <br />
            <br />
            <!--Input Button-->
            <input type="submit" value="Create">
        </form>
    </body>
</html>